<!doctype html>
<html>

  <head>
    <title> Index </title>
  </head>

  <body>

    <a href="/new/">
      Create New Prospect
    </a>


    <h1> Table goes here </h1>

  <!-- <table id="example" class="display" cellspacing="0" width="100%">
      <thead>
          <tr>
            <th> first_name</th>
            <th> last_name</th>
            <th> toofr_email</th>
            <th> company_url</th>
            <th> toofr_confidence</th>
            <th> facebook_url</th>
            <th> linkedin_url</th>
            <th> twitter_url</th>
            <th> klout_score</th>
            <th> twitter_followers</th>
            <th> location</th>
            <th> facebook_following</th>
            <th> gender</th>
            <th> angellist_followers</th>
            <th> twitter_following</th>
            <th> angellist_url</th>
            <th> klout_topic</th>
          </tr>
      </thead>
  </table>-->

  <table id="example">
  <thead>
    <tr>
      <th> first_name</th>
      <th> last_name</th>
      <th> toofr_email</th>
      <th> company_url</th>
      <th> toofr_confidence</th>
      <th> facebook_url</th>
      <th> linkedin_url</th>
      <th> twitter_url</th>
      <th> klout_score</th>
      <th> twitter_followers</th>
      <th> location</th>
      <th> facebook_following</th>
      <th> gender</th>
      <th> angellist_followers</th>
      <th> twitter_following</th>
      <th> angellist_url</th>
      <th> klout_topic</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>


  </body>

</html>
