<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Material Admin - Dynamic tables</title>

		<!-- BEGIN META -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="your,keywords">
		<meta name="description" content="Short explanation about this website">
		<!-- END META -->

		<!-- BEGIN STYLESHEETS -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css'/>
    <link type="text/css" rel="stylesheet" href="../../static/css/theme-default/bootstrap.css?1422792965" />
		<link type="text/css" rel="stylesheet" href="../../static/css/theme-default/materialadmin.css?1425466319" />
		<link type="text/css" rel="stylesheet" href="../../static/css/theme-default/font-awesome.min.css?1422529194" />
		<link type="text/css" rel="stylesheet" href="../../static/css/theme-default/material-design-iconic-font.min.css?1421434286" />
		<link type="text/css" rel="stylesheet" href="../../static/css/theme-default/libs/DataTables/jquery.dataTables.css?1423553989" />
		<link type="text/css" rel="stylesheet" href="../../static/css/theme-default/libs/DataTables/extensions/dataTables.colVis.css?1423553990" />
		<link type="text/css" rel="stylesheet" href="../../static/css/theme-default/libs/DataTables/extensions/dataTables.tableTools.css?1423553990" />
		<!-- END STYLESHEETS -->

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script type="text/javascript" src="../../static/js/libs/utils/html5shiv.js?1403934957"></script>
		<script type="text/javascript" src="../../static/js/libs/utils/respond.min.js?1403934956"></script>
		<![endif]-->
	</head>
	<body class="menubar-hoverable menubar-pin menubar-first">

		<!-- BEGIN HEADER-->
		<header id="header" >
			<div class="headerbar">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="headerbar-left">
					<ul class="header-nav header-nav-options">
						<li class="header-nav-brand" >
							<div class="brand-holder">
								<a href="/">
									<span class="text-lg text-bold text-primary"> GOD'S EYE </span>
								</a>
							</div>
						</li>
						<li>
							<a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
								<i class="fa fa-bars"></i>
							</a>
						</li>
					</ul>
				</div>

        <!-- Collect the nav links, forms, and other content for toggling -->
				<div class="headerbar-right">
					<ul class="header-nav header-nav-options">
						<li>
							<!-- Search form -->
							<form class="navbar-search" role="search">
								<div class="form-group">
									<input type="text" class="form-control" name="headerSearch" placeholder="Enter your keyword">
								</div>
								<button type="submit" class="btn btn-icon-toggle ink-reaction"><i class="fa fa-search"></i></button>
							</form>
						</li>
					</ul><!--end .header-nav-toggle -->
				</div><!--end #header-navbar-collapse -->
			</div>
		</header>
		<!-- END HEADER-->

		<!-- BEGIN BASE-->
		<div id="base">

			<!-- BEGIN OFFCANVAS LEFT -->
			<div class="offcanvas">
			</div><!--end .offcanvas-->
			<!-- END OFFCANVAS LEFT -->

			<!-- BEGIN CONTENT-->
			<div id="content">
				<section class="style-default-bright">
					<div class="section-header">
						<h2 class="text-primary"> <i class="fa fa-user-plus"></i> Leads </h2>
					</div>
					<div class="section-body">

						<!-- BEGIN DATATABLE 1 -->
						<div class="row">
							<div class="col-md-8">
								<article class="margin-bottom-xxl">
									<p class="lead">
										Users with emails validated by FullContact
									</p>
								</article>
							</div><!--end .col -->
						</div><!--end .row -->

            <div class="row">
							<div class="col-md-12">
							</div><!--end .col -->
							<div class="col-lg-12">
								<div class="table-responsive">

                  <table
                    id="datatable1"
                    class="table table-striped table-hover"
                    data-swftools="../../static/js/libs/DataTables/extensions/TableTools/swf/copy_csv_xls_pdf.swf">
                  <thead>
                    <tr>
                      <td>id</td>
                      <td>toofr_id</td>
                      <td>location</td>
                      <td>facebook</td>
                      <td>linkedin</td>
                      <td>twitter</td>
                      <td>twitter_followers</td>
                      <td>angellist</td>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>1</td>
                      <td>NULL</td>
                      <td>https://www.facebook.com/justinfw</td>
                      <td>https://www.linkedin.com/in/justinfw</td>
                      <td>NULL</td>
                      <td>NULL</td>
                      <td>NULL</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>3</td>
                      <td>San Francisco Bay Area</td>
                      <td>https://www.facebook.com/kathy</td>
                      <td>https://www.linkedin.com/pub/kathy-chan-sphr/8/138/45</td>
                      <td>NULL</td>
                      <td>NULL</td>
                      <td>NULL</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>5</td>
                      <td>San Francisco, California</td>
                      <td>https://www.facebook.com/alda.dennis</td>
                      <td>https://www.linkedin.com/pub/alda-dennis/54/186/113</td>
                      <td>NULL</td>
                      <td>NULL</td>
                      <td>https://angel.co/alda-dennis</td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>15</td>
                      <td>NULL</td>
                      <td>https://www.facebook.com/andrewswhitman</td>
                      <td>NULL</td>
                      <td>NULL</td>
                      <td>NULL</td>
                      <td>NULL</td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td>16</td>
                      <td>Chicago, IL</td>
                      <td>https://www.facebook.com/andrewswhitman</td>
                      <td>https://www.linkedin.com/pub/andrew-whitman/80/6/5a0</td>
                      <td>NULL</td>
                      <td>NULL</td>
                      <td>NULL</td>
                    </tr>
                    <tr>
                      <td>6</td>
                      <td>17</td>
                      <td>Charlotte, North Carolina Area</td>
                      <td>NULL</td>
                      <td>https://www.linkedin.com/pub/kim-anne-starke/b/289/166</td>
                      <td>NULL</td>
                      <td>NULL</td>
                      <td>NULL</td>
                    </tr>
                    <tr>
                      <td>7</td>
                      <td>21</td>
                      <td>Calgary, Canada Area</td>
                      <td>NULL</td>
                      <td>https://www.linkedin.com/pub/larry-evans/46/12/b46</td>
                      <td>NULL</td>
                      <td>NULL</td>
                      <td>NULL</td>
                    </tr>
                    <tr>
                      <td>8</td>
                      <td>22</td>
                      <td>Calgary, Canada Area</td>
                      <td>NULL</td>
                      <td>https://www.linkedin.com/pub/mitch-putnam/23/a04/213</td>
                      <td>NULL</td>
                      <td>NULL</td>
                      <td>NULL</td>
                    </tr>
                    <tr>
                      <td>9</td>
                      <td>23</td>
                      <td>Calgary, Canada Area</td>
                      <td>NULL</td>
                      <td>https://www.linkedin.com/pub/art-robinson/14/483/547</td>
                      <td>NULL</td>
                      <td>NULL</td>
                      <td>NULL</td>
                    </tr>
                    <tr>
                      <td>10</td>
                      <td>24</td>
                      <td>Calgary, Canada Area</td>
                      <td>NULL</td>
                      <td>https://www.linkedin.com/pub/trent-baker/9/a85/2a5</td>
                      <td>NULL</td>
                      <td>NULL</td>
                      <td>NULL</td>
                    </tr>
                    <tr>
                      <td>11</td>
                      <td>29</td>
                      <td>Portland, Oregon</td>
                      <td>NULL</td>
                      <td>https://www.linkedin.com/pub/nicholas-walrod/45/556/260</td>
                      <td>NULL</td>
                      <td>NULL</td>
                      <td>https://angel.co/nicholas-walrod</td>
                    </tr>
                    <tr>
                      <td>12</td>
                      <td>31</td>
                      <td>NULL</td>
                      <td>https://www.facebook.com/560102020</td>
                      <td>NULL</td>
                      <td>NULL</td>
                      <td>NULL</td>
                      <td>NULL</td>
                    </tr>
                    <tr>
                      <td>13</td>
                      <td>39</td>
                      <td>NULL</td>
                      <td>https://www.facebook.com/john.diekman.1</td>
                      <td>NULL</td>
                      <td>https://twitter.com/AndrewMcMillan2</td>
                      <td>20</td>
                      <td>NULL</td>
                    </tr>
                    <tr>
                      <td>14</td>
                      <td>40</td>
                      <td>Sudbury, Massachusetts, United States</td>
                      <td>NULL</td>
                      <td>NULL</td>
                      <td>NULL</td>
                      <td>NULL</td>
                      <td>NULL</td>
                    </tr>
                    <tr>
                      <td>15</td>
                      <td>44</td>
                      <td>NULL</td>
                      <td>NULL</td>
                      <td>https://www.linkedin.com/pub/hannah-chang-m-d-ph-d/46/227/206</td>
                      <td>NULL</td>
                      <td>NULL</td>
                      <td>NULL</td>
                    </tr>
                    <tr>
                      <td>16</td>
                      <td>46</td>
                      <td>NULL</td>
                      <td>https://www.facebook.com/john.diekman.1</td>
                      <td>NULL</td>
                      <td>https://twitter.com/AndrewMcMillan2</td>
                      <td>20</td>
                      <td>NULL</td>
                    </tr>
                    <tr>
                      <td>17</td>
                      <td>51</td>
                      <td>NULL</td>
                      <td>NULL</td>
                      <td>NULL</td>
                      <td>NULL</td>
                      <td>NULL</td>
                      <td>NULL</td>
                    </tr>
                    <tr>
                      <td>18</td>
                      <td>53</td>
                      <td>Greater Seattle Area</td>
                      <td>https://www.facebook.com/kevin.croy</td>
                      <td>https://www.linkedin.com/in/kevincroy</td>
                      <td>https://twitter.com/kevincroy</td>
                      <td>505</td>
                      <td>https://angel.co/kevincroy</td>
                    </tr>
                    <tr>
                      <td>19</td>
                      <td>54</td>
                      <td>Greater Seattle Area</td>
                      <td>NULL</td>
                      <td>https://www.linkedin.com/in/sanjaypuri</td>
                      <td>NULL</td>
                      <td>NULL</td>
                      <td>NULL</td>
                    </tr>
                    <tr>
                      <td>20</td>
                      <td>55</td>
                      <td>Greater Seattle Area</td>
                      <td>NULL</td>
                      <td>https://www.linkedin.com/pub/sandy-sharma/22/401/8a3</td>
                      <td>NULL</td>
                      <td>NULL</td>
                      <td>https://angel.co/sandy-sharma</td>
                    </tr>
                    <tr>
                      <td>21</td>
                      <td>56</td>
                      <td>Greater Seattle Area</td>
                      <td>https://www.facebook.com/kevin.croy</td>
                      <td>https://www.linkedin.com/in/caitlingoetze</td>
                      <td>https://twitter.com/kevincroy</td>
                      <td>507</td>
                      <td>https://angel.co/kevincroy</td>
                    </tr>
                    <tr>
                      <td>22</td>
                      <td>58</td>
                      <td>Bellevue, Washington</td>
                      <td>NULL</td>
                      <td>https://www.linkedin.com/pub/tom-casey/62/117/50b</td>
                      <td>NULL</td>
                      <td>NULL</td>
                      <td>NULL</td>
                    </tr>
                    <tr>
                      <td>23</td>
                      <td>59</td>
                      <td>United States</td>
                      <td>NULL</td>
                      <td>https://www.linkedin.com/pub/ronny-conway/15/388/a4a</td>
                      <td>NULL</td>
                      <td>NULL</td>
                      <td>NULL</td>
                    </tr>
                    <tr>
                      <td>24</td>
                      <td>62</td>
                      <td>San Francisco, California</td>
                      <td>NULL</td>
                      <td>https://www.linkedin.com/in/bradstrader</td>
                      <td>NULL</td>
                      <td>NULL</td>
                      <td>NULL</td>
                    </tr>
                    <tr>
                      <td>25</td>
                      <td>64</td>
                      <td>NULL</td>
                      <td>https://www.facebook.com/jim.thorp.31</td>
                      <td>NULL</td>
                      <td>NULL</td>
                      <td>NULL</td>
                      <td>NULL</td>
                    </tr>
                    <tr>
                      <td>26</td>
                      <td>65</td>
                      <td>NULL</td>
                      <td>https://www.facebook.com/eric.hender.3</td>
                      <td>NULL</td>
                      <td>NULL</td>
                      <td>NULL</td>
                      <td>NULL</td>
                    </tr>
                    <tr>
                      <td>27</td>
                      <td>67</td>
                      <td>NULL</td>
                      <td>https://www.facebook.com/eric.hender.3</td>
                      <td>NULL</td>
                      <td>NULL</td>
                      <td>NULL</td>
                      <td>NULL</td>
                    </tr>
                    <tr>
                      <td>28</td>
                      <td>68</td>
                      <td>NULL</td>
                      <td>https://www.facebook.com/eric.hender.3</td>
                      <td>NULL</td>
                      <td>NULL</td>
                      <td>NULL</td>
                      <td>NULL</td>
                    </tr>
                    <tr>
                      <td>29</td>
                      <td>69</td>
                      <td>NULL</td>
                      <td>https://www.facebook.com/eric.hender.3</td>
                      <td>NULL</td>
                      <td>NULL</td>
                      <td>NULL</td>
                      <td>NULL</td>
                    </tr>
                    <tr>
                      <td>30</td>
                      <td>71</td>
                      <td>NULL</td>
                      <td>NULL</td>
                      <td>NULL</td>
                      <td>NULL</td>
                      <td>NULL</td>
                      <td>NULL</td>
                    </tr>
                    <tr>
                      <td>31</td>
                      <td>77</td>
                      <td>Greater Boston Area</td>
                      <td>NULL</td>
                      <td>https://www.linkedin.com/pub/bill-burgess/4/1b9/443</td>
                      <td>https://twitter.com/billburgessdart</td>
                      <td>48</td>
                      <td>NULL</td>
                    </tr>
                    <tr>
                      <td>32</td>
                      <td>79</td>
                      <td>San Jose, California</td>
                      <td>NULL</td>
                      <td>https://www.linkedin.com/in/susanadams4</td>
                      <td>NULL</td>
                      <td>NULL</td>
                      <td>NULL</td>
                    </tr>
                    <tr>
                      <td>33</td>
                      <td>86</td>
                      <td>Boulder, CO</td>
                      <td>https://www.facebook.com/504503972</td>
                      <td>https://www.linkedin.com/in/bfeld</td>
                      <td>https://twitter.com/bfeld</td>
                      <td>211053</td>
                      <td>https://angel.co/bfeld</td>
                    </tr>
                  </tbody>
                  </table>

								</div><!--end .table-responsive -->
							</div><!--end .col -->
						</div><!--end .row -->
						<!-- END DATATABLE 1 -->

						<hr class="ruler-xxl"/>
					</div><!--end .section-body -->
				</section>
			</div><!--end #content-->
			<!-- END CONTENT -->

			<!-- BEGIN MENUBAR-->
			<div id="menubar" class="menubar-inverse ">
				<div class="menubar-fixed-panel">
					<div>
						<a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
							<i class="fa fa-bars"></i>
						</a>
					</div>
					<div class="expanded">
						<a href="/">
							<span class="text-lg text-bold text-primary "> GOD'S EYE </span>
						</a>
					</div>
				</div>

        <div class="menubar-scroll-panel">

					<!-- BEGIN MAIN MENU -->
					<ul id="main-menu" class="gui-controls">

						<!-- BEGIN DATA -->
						<li>
							<a href="/" >
                <div class="gui-icon"><i class="fa fa-user"></i></div>
								<span class="title"> PROSPECTS </span>
							</a>
						</li><!--end /menu-li -->
						<!-- END DATA -->

            <!-- BEGIN DATA -->
						<li>
							<a href="/leads/" >
                <div class="gui-icon"><i class="fa fa-user-plus"></i></div>
								<span class="title"> LEADS </span>
							</a>
						</li><!--end /menu-li -->
						<!-- END DATA -->

            <li>
							<a href="/prospects/new" >
                <div class="gui-icon"><i class="fa fa-plus-circle"></i></div>
								<span class="title"> NEW PROSPECT </span>
							</a>
						</li><!--end /menu-li -->

					</ul><!--end .main-menu -->
					<!-- END MAIN MENU -->

				</div><!--end .menubar-scroll-panel-->
			</div><!--end #menubar-->
			<!-- END MENUBAR -->
		</div><!--end #base-->
		<!-- END BASE -->

		<!-- BEGIN JAVASCRIPT -->
		<script src="../../static/js/libs/jquery/jquery-1.11.2.min.js"></script>
		<script src="../../static/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
		<script src="../../static/js/libs/bootstrap/bootstrap.min.js"></script>
		<script src="../../static/js/libs/spin.js/spin.min.js"></script>
		<script src="../../static/js/libs/autosize/jquery.autosize.min.js"></script>
		<script src="../../static/js/libs/DataTables/jquery.dataTables.min.js"></script>
		<script src="../../static/js/libs/DataTables/extensions/ColVis/js/dataTables.colVis.min.js"></script>
		<script src="../../static/js/libs/DataTables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
		<script src="../../static/js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
		<script src="../../static/js/core/source/App.js"></script>
		<script src="../../static/js/core/source/AppNavigation.js"></script>
		<script src="../../static/js/core/source/AppOffcanvas.js"></script>
		<script src="../../static/js/core/source/AppCard.js"></script>
		<script src="../../static/js/core/source/AppForm.js"></script>
		<script src="../../static/js/core/source/AppNavSearch.js"></script>
		<script src="../../static/js/core/source/AppVendor.js"></script>
		<script src="../../static/js/core/demo/Demo.js"></script>
		<script src="../../static/js/core/demo/DemoTableDynamic.js"></script>
    <!-- END JAVASCRIPT  -->

    <script>
      // $( document ).ready(function() {
      //
      //   var responseObj;
      //   var keys;
      //
      //   $.getJSON('data/prospects.json', function(response) {
      //
      //       reponseObj = response;
      //       keys = Object.keys(responseObj);
      //       console.log("keys", keys)
      //
      //   })
      //
      // })
    </script>

	</body>
</html>
